@model Bags_Wallets.ViewModels.ChangePassowrdViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="blog.html" class="stext-109 cl8 hov-cl1 trans-04">
            Blog
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            8 Inspiring Ways to Wear Dresses in the Winter
        </span>
    </div>
</div>


<section class="bg0 p-t-52 p-b-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-45 p-r-0-lg">


                    <div class="p-t-40">
                        <h5 class="mtext-113 cl2 p-b-12">
                            @ViewData["Title"]
                        </h5>

                        <p class="stext-107 cl6 p-b-40">
                            Your email address will not be published. Required fields are marked *
                        </p>
                        <form asp-controller="Account" asp-action="ChangePassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <label asp-for="OldPassword">OldPassword</label>
                            <div class="bor19 size-218 m-b-20">
                                <input asp-for="OldPassword" class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" name="OldPassword" placeholder="OldPassword *">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                                <label asp-for="NewPassword">NewPassword</label>
                                <div class="bor19 size-218 m-b-20">
                                    <input asp-for="NewPassword" class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" name="NewPassword" placeholder="NewPassword *">
                                    @* <input asp-for="OldPassword" class="form-control" /> *@
                                </div>

                                <label asp-for="ConfirmPassword">ConfirmPassword</label>
                                <div class="bor19 size-218 m-b-20">
                                    <input asp-for="ConfirmPassword" class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" name="ConfirmPassword" placeholder="ConfirmPassword *">
                                    @* <input asp-for="OldPassword" class="form-control" /> *@
                                </div>

                                <button class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04">
                                    შეცვლა
                                </button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="OldPassword"></label>
                                    <input asp-for="OldPassword" class="form-control" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NewPassword"></label>
                                    <input asp-for="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </form>
                        </div>
                    </div>
                    @await Html.PartialAsync("_AccountPartial")
